:root {
  font-family: 'Montserrat';
  color: #2B1203;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

h1{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #DD5D0E;
}

form {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  margin-bottom: 5vh;
}

label {
  font-size: 18px;
  font-weight: bold;
  align-self: flex-start;
  margin-top: 2vh;
  width: 235.13px;
  height: 21px;
  margin-left: 15px;
}

input {
  width: 70vw;
  border: 0;
  background-color: hsla(23, 87%, 9%, 0.2);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  width: 297px;
  height: 36px;
  margin-top: 0.5vh;
}

a {
  color: #2AA6C7;
}

.logo-div {
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 153px;
}

.logo {
  width: 82.17px;
  height: 71.35px;
}

.submit-button {
  margin-top: 5vh;
  border: 0;
  background-color: #DD5D0E;
  color: white;
  width: 200px;
  height: 75px;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}

.change-page {
  position: absolute;
  top: 90vh;
  color:  hsla(23, 87%, 9%, 0.5);
}

.login-form {
  height: 206px;
}

